@import 'globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-color: $primary-light;  
  font-family: 'Montserrat', Arial, sans-serif;
}

h1{
  margin: 0px;
  font-size: 32px;
  line-height: 1.4;
  @include media-query($tablet){
    font-size: 26px;
  }
}

.wanderer-small{
  font-size: 14px;
}

.wanderer-cover{
  @include bg-schema($dark, $light);
  @include size(100%, Max(calc(100vh - #{$navbar-height}), 520px));
  @include padding-container;
  @include flexbox(flex-start);
  padding-top: 100px;
  padding-bottom: 50px;

  .wanderer-text-container{
    @include size(50%, 100%);
    padding-right: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    blockquote{
      margin-left: 0px;
      .wanderer-quotation{
        font-style: italic;
        line-height: 1.6;        
      }

      .wanderer-tablet-image{
        display: none;
      }

      .wanderer-author{
        text-align: right;
      }
    }

    .wanderer-cta{
      form{
        @include flexbox(flex-start);
        input{
          @include size(300px, 40px);  
          border: 1px solid white;
          border-radius: $rounded 0px 0px $rounded;  
          font-family: inherit;
          font-size: 1em;
          padding-left: 8px;    
        }
        button{
          @include size(60px, 40px);
          @include flexbox(center);
          border: 1px solid white;
          border-radius: 0px $rounded $rounded 0px;
          background-color: $primary;
        }
      }
    }
  }

  .wanderer-image{
    @include size(50%, 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
  }

  @include media-query($tablet){
    height: auto;

    .wanderer-text-container{
      width: 100%;
      padding-right: 0px;
      header{
        margin-bottom: 40px;
        h1{
          margin-bottom: 20px;
        }
      }

      .wanderer-tablet-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 67%;
      }

      .wanderer-cta{
        form{
          input{
            width: 260px;
          }
        }        
      }
    }

    .wanderer-image{
      display: none;
    }
  }

  @include media-query($small-mobile){
    .wanderer-text-container{
      .wanderer-cta{
        form{
          input{
            width: 200px;
          }
        }
      }
    }
  }
}